@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border: 8px solid rgba(255, 255, 255, 0.3); /* Light color for the background */
  border-radius: 50%; /* Make it circular */
  border-top: 8px solid #3498db; /* Color of the spinning part */
  width: 40px; /* Size of the spinner */
  height: 40px; /* Size of the spinner */
  animation: spin 1s linear infinite; /* Animation to spin */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1024px) {
  .modal-container {
    max-height: 80vh; /* Adjust as needed */
  }
}